<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo de Discos Musicais</title>
  <link rel="stylesheet" href="/albumForm.css">
</head>
<body>
<header>
    <h1>🎵 Catálogo Musical 🎶</h1>
    <nav>
        <a href="/albuns">Discos</a>
        <a href="/artistas">Artistas</a>
    </nav>
</header>

<main>
    <h2>Cadastro de Novo Disco</h2>
    <form action="/albuns" method="POST" enctype="multipart/form-data">
        <div>
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" placeholder="Insira o título do disco" required />
        </div>
        
        <div>
            <label for="anoLancamento">Ano de Lançamento:</label>
            <input type="number" name="anoLancamento" id="anoLancamento" placeholder="Ex.: 2024" required />
        </div>
        
        <div>
            <label for="capa">Capa:</label>
            <input type="file" name="capa" id="capa" accept="image/*" required />
        </div>
        
        <div>
            <label for="artistas">Artistas:</label>
            <select name="artistas[]" id="artistas" multiple>
                <% artists.forEach(artista => { %>
                    <option value="<%= artista.id %>"><%= artista.nome %></option>
                <% }) %>
            </select>
        </div>
        
        <div
